<div class="btnCreate">
  <button (click)="create()">Crear nueva nota</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="estudiante">
      <th mat-header-cell *matHeaderCellDef> Nombre Estudiante </th>
      <td mat-cell *matCellDef="let element"> {{element.estudiante.nombre}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="profesor">
      <th mat-header-cell *matHeaderCellDef> Nombre Profesor </th>
      <td mat-cell *matCellDef="let element"> {{element.profesor.nombre}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre Materia </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nota">
      <th mat-header-cell *matHeaderCellDef> NOTA </th>
      <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
    </ng-container>

  
    <!-- Symbol Column -->
    <ng-container matColumnDef="op">
      <th mat-header-cell *matHeaderCellDef> Operaciones </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon style="color: #3D317D;" (click)="update(element)">edit</mat-icon>
        <mat-icon style="color: red;" (click)="delete(element)">delete</mat-icon>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  