button {
    margin-right: 8px;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

h2 {
    background-color: #061A40;
    color: white !important;
}

mat-form-field {
    margin: 5px;
}