@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Montserrat);


button {
    margin-right: 8px;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

h2 {
    background-color: #061A40;
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
}

mat-form-field {
    margin: 5px;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAction {
    background-color: #061A40 !important;
    color: white !important;
}

